<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
<title>Edit Doctor</title>
</head>
<body style="width: 30%; margin-left: 35%"}>
	<form method="post" th:object="${doctor}">
 
 	<div class="header">Sửa thông tin bác sĩ</div>
    <div class="form-group"> 
		<label for="cmt_id" class="control-label">Mã số bác sĩ</label>
		<input type="text" class="form-control" id="cmt_id" name="id" th:value= "${doctor.id}" placeholder="BS001">
	</div>
	
    <div class="form-group"> 
    	<div>
    	<label for="cmt_id" class="control-label" th:text="CMT" style="color: black"></label>
		<input type="text" class="form-control" id="cmt_id" name="cmt" th:value= "${doctor.cmt}" placeholder="Chứng minh thư / Căn cước công dân">
    	</div>
		
	</div>

	<div class="form-group"> <!-- Full Name -->
		<label for="full_name_id" class="control-label" >Họ Tên</label>
		<input type="text" class="form-control" id="full_name_id" name="ten" th:value= "${doctor.ten}" placeholder="John Deer">
    </div>	

    <div class="form-group"> <!--  DOB -->
		<label for="cmt_id" class="control-label">Ngày sinh</label>
		<input type="text" class="form-control" id="cmt_id" name="ngaysinh" th:value= "${doctor.ngaysinh}"placeholder="Ngay sinh">
	</div>

	<div class="form-group"> <!-- Address -->
		<label for="street1_id" class="control-label">Địa chỉ</label>
		<input type="text" class="form-control" id="street1_id" name="diachi" th:value= "${doctor.diachi}" placeholder="Địa chỉ">
	</div>					
							
	<div class="form-group"> <!-- Bac nghe -->
		<label for="street2_id" class="control-label">Bậc nghề</label>
		<input type="text" class="form-control" id="street2_id" name="bacnghe" th:value= "${doctor.bacnghe}" placeholder="Bậc nghề">
	</div>	

	<div class="form-group"> <!-- Tham nien-->
		<label for="city_id" class="control-label">Thâm niên</label>
		<input type="text" class="form-control" id="city_id" name="thamnien" th:value= "${doctor.ngaysinh}" placeholder="Thâm niên">
	</div>									
							
	<div class="form-group"> <!-- Trinh do -->
		<label for="state_id" class="control-label">Trình độ đào tạo</label>
		<select class="form-control" id="state_id" name = "trinhdo" th:value= "${doctor.ngaysinh}" placeholder = "Trình độ">
			<option value="Trung cap">Trung cấp</option>
			<option value="Cao dang">Cao đẳng</option>
			<option value="Dai hoc">Đại học</option>
			<option value="Thac si">Thạc sĩ</option>
			<option value="Tien si">Tiến sĩ</option>
			<option value="Giao su">Giáo sư</option>
		
		</select>					
	</div>
	
	<div class="form-group"> <!-- Chuyen mon -->
		<label for="zip_id" class="control-label">Chuyên môn</label>
		<input type="text" class="form-control" id="zip_id" name="chuyenmon" th:value= "${doctor.chuyenmon}" placeholder="Chuyên môn">
	</div>		
	
	<div class="form-group"> <!-- Submit Button -->
		<button type="submit" class="btn btn-primary">Cap nhat</button>
	</div>     
	
</form>	
</body>
</html>
